.navbar {
  background: rgb(31, 29, 43);
  position: sticky;
  top: 0;
  .nabar_list {
    .navbar_item {
      &--select {
        background: rgb(37, 40, 54);
      }
      .navbar_item__img {
        transition: all 0.5s ease;
        cursor: pointer;
        &--home {
          background: rgb(235, 150, 106, 0.26);
        }
        &--select {
          box-shadow: 0px 8px 24px 0px rgba(234, 124, 105, 0.32);
          background: rgb(234, 124, 105);
        }
        &:hover {
          background: rgb(235, 150, 106, 0.26);
        }
      }
    }
  }
}
